<div class="competitors_result_card effect1">
  <div class="image_competitor">
        <img src="<%= competitor.profile_picture %>">
  </div>
  <div class="details">
    <h2><%= competitor.user_name%></h2>
    <span class="votes"><%= @group_poll_competitor_mappings.where(:competitor_id => competitor.id).first.votes%></span>
  </div>
</div>
